parameters:
	ignoreErrors:
		-
			message: "#^Class Doctrine\\\\ORM\\\\Mapping\\\\ClassMetadataInfo not found\\.$#"
			count: 1
			path: src/Command/AbstractCommand.php

		-
			message: "#^Class Doctrine\\\\ORM\\\\Mapping\\\\ClassMetadataInfo not found\\.$#"
			count: 1
			path: src/Command/DoctrineDecryptDatabaseCommand.php

		-
			message: "#^Class Doctrine\\\\ORM\\\\Mapping\\\\ClassMetadataInfo not found\\.$#"
			count: 1
			path: src/Command/DoctrineEncryptStatusCommand.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition\\:\\:children\\(\\)\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Access to property \\$queries on an unknown class Doctrine\\\\DBAL\\\\Logging\\\\DebugStack\\.$#"
			count: 3
			path: tests/Functional/AbstractFunctionalTestCase.php

		-
			message: "#^Call to an undefined static method Doctrine\\\\ORM\\\\EntityManager\\:\\:create\\(\\)\\.$#"
			count: 1
			path: tests/Functional/AbstractFunctionalTestCase.php

		-
			message: "#^Call to static method createAnnotationMetadataConfiguration\\(\\) on an unknown class Doctrine\\\\ORM\\\\Tools\\\\Setup\\.$#"
			count: 1
			path: tests/Functional/AbstractFunctionalTestCase.php

		-
			message: "#^Instantiated class Doctrine\\\\DBAL\\\\Logging\\\\DebugStack not found\\.$#"
			count: 1
			path: tests/Functional/AbstractFunctionalTestCase.php

		-
			message: "#^Property Ambta\\\\DoctrineEncryptBundle\\\\Tests\\\\Functional\\\\AbstractFunctionalTestCase\\:\\:\\$sqlLoggerStack has unknown class Doctrine\\\\DBAL\\\\Logging\\\\DebugStack as its type\\.$#"
			count: 1
			path: tests/Functional/AbstractFunctionalTestCase.php

		-
			message: "#^Call to an undefined method Doctrine\\\\DBAL\\\\Statement\\:\\:fetch\\(\\)\\.$#"
			count: 1
			path: tests/Functional/DoctrineEncryptSubscriber/AbstractDoctrineEncryptSubscriberTestCase.php

		-
			message: "#^Call to an undefined method Doctrine\\\\DBAL\\\\Statement\\:\\:fetchAll\\(\\)\\.$#"
			count: 1
			path: tests/Functional/DoctrineEncryptSubscriber/AbstractDoctrineEncryptSubscriberTestCase.php

		-
			message: "#^Call to private method execute\\(\\) of class Doctrine\\\\DBAL\\\\Statement\\.$#"
			count: 2
			path: tests/Functional/DoctrineEncryptSubscriber/AbstractDoctrineEncryptSubscriberTestCase.php
